<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Discount Details</h1>

	<dl class="dl-horizontal">
		<dt>Description</dt>
		<dd th:text="${discount.description}">number</dd>
		<dt>Type</dt>
		<dd th:text="${discount.type}">number</dd>
		<dt>Amount</dt>
		<dd th:text="${discount.amount}">number</dd>
	</dl>

	<div style="height: 2cm">&nbsp;</div>

	

	<div th:replace="footer :: copy"></div>
</body>
</html>
